.button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font: inherit;
    outline: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}