.add-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.username {
  margin-bottom: 10px;
}

.add-user-form input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.age {
  margin-bottom: 10px;
}
