.add-user {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}

.add-user .button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.add-user label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.add-user input {
  margin: auto;
  font: inherit;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.add-user input:focus {
  outline: none;
  border-color: #4f005f;
}
